{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/media/group-athletes.jpg" class="d-block mx-lg-auto img-fluid" alt="Hand pushing virtual symbol of online shopping" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Discover Our Exquisite Collection of Sports Goods!</h1>
      <p class="">From stylish sportswear and premium footwear to top-notch equipment, find everything you need to excel.</p>
      <p class="font-weight-bold">Interested in Special Offers?</p>
      <p class="">Explore exclusive deals on sale items and new arrivals.</p>
      <p class="font-weight-bold">Join Our Community for Extra Benefits</p>
      <p class="">Create an account for personalized recommendations and easy access to your order history. Subscribe to our newsletter for the latest trends, promotions, and events.</p>
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Embrace the joy of sports with Sportify.</h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-info" href="{% url 'products' %}">Shop Now</a>
        <a class="btn btn-outline-dark" href="{% url 'account_signup' %}">Sign Up</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
