.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: darkgray;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: darkgray;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.products-section {
    background: url('/media/tennis-racket.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
    padding: 2rem 0;
}

.profile {
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 15px;
    padding: 3px;
}

.btn-update {
    background-color: #00796B;
    border: 2px solid black;
    color: white;
  }
  
.btn-update:hover {
    background-color: #f5b301;
    border-color: black;
    color: white;
  }

.order-number {
    color: darkblue;
    text-decoration: underline;
  }
  
.order-number:hover {
    color: blue;
    text-decoration: underline;
  }