body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }

#logo {
        width: 30px !important;
        height: 30px !important;
}

