main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

* {
  font-family: "Raleway", sans-serif;
}
 
/* ................................Back to Top Button */
.btt-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.btt-button:hover {
    background-color: #ffcc00;
    border: none;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

input[name='q']::placeholder {
  color: darkgrey;
}

/* ................................Header */
.header {
  background-color: black;
  color: #ffffff;
  padding: 10px 0;
}

header nav .nav-link {
  display: inline-block;
  padding: 10px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-nav {
  display: flex;
  align-items: left;
}

.navbar-nav .shopping-bag {
  margin-left: auto;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  color: #ffcc00;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand img {
  margin-right: 5px;
}

.navbar-brand:hover {
  color: #00796B;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, .1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2877, 77, 77, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 10px;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00;
}

.navbar-nav .nav-item .nav-link {
  color: #ffcc00;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #ffcc00;
    border-radius: 3%;
    color: #000;
}

.dropdown-menu {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
  color: black;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffcc00;
  color: black;
}

.btn-outline-dark {
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 3%;
}

.btn-outline-dark:hover {
  color: black;
  background-color: #ffcc00;
  border-color: #ffcc00;
}

/* ................................Footer */
footer {
  background-color: black;
  padding: 10px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer p, footer a {
  color: #ffc107;
}

footer .a-footer:hover {
  background-color: #ffc107;
  color: black;
  text-decoration: none;
}

footer img {
  vertical-align: middle;
}

#mc_embed_signup {
  background: white;
  width: 100%;
  max-width: 600px;
  padding: 1px;
  border-radius: 3px;
}

/* ................................Contact Us Form */

.contact-form .form-control {
  border-radius: 3px;
  border: 1px solid darkgrey;
}

.contact-form-container {
  border-radius: 3px;
  border: 1px solid black;
  padding: 15px;
}

.contact-details {
  color: black;
}

.contact-info i {
  color: #ffcc00;
}

.col-md-7 {
  padding-right: 0;
  padding-left: 0;
}

/* .......................................Hero Section */
.products-section {
  background: url('/media/tennis-racket.webp') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: white;
  padding: 2rem 0;
}

.products-section .container,
.products-section .row,
.products-section .col-lg-6 {
  position: relative;
  z-index: 2;
}

.product-count p {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.product-count a {
  color: blue;
  text-decoration: none;
}

.product-count a:hover {
  text-decoration: underline;
}

/*...............................................Add Product form */

.add-product-form {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  margin-bottom: 5px;
}

.add-product-form .col-12 {
  background: white;
  padding: 2rem;
  border-radius: 3px;
  border: 1px solid black;
}


/* .................................... All Products Cards */
.album {
  background-color: white;
  padding: 1rem 0;
}

.card {
  border-radius: 3px;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.card-text a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.card-text a:hover {
  color: #ffcc00;
}

.text-login {
  color: darkblue;
  text-decoration: underline;
}

.text-login:hover {
  color: blue;
  text-decoration: underline;
}

.small {
  color: black !important;
  font-weight: bold;
  font-size: 16px;
}

small {
  color: black !important;
  font-weight: bold;
  font-size: 16px;
}

.btn-group a {
  margin-right: 0.5rem;
}

/* .................................... Star Rating */

.star-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.star {
  font-size: 30px;
  color: darkgray;
  cursor: pointer;
}

.star.selected,
.star.hover {
  color: #f5b301;
}

/*.....................................Product Detail Page and comments*/

.keep-shopping-btn {
  color: black;
  border: 2px solid black;
}

.keep-shopping-btn:hover {
  background-color: #f5b301;
  color: white;
}

.add-btn, .btn-checkout, .btn-update, .btn-back {
  background-color: #00796B;
  border: 2px solid black;
  color: white;
}

.add-btn:hover,
.btn-checkout:hover,
.btn-update:hover,
.btn-back:hover {
  background-color: #f5b301;
  border-color: black;
  color: white;
}

.btn-delete {
  background-color: red;
  color: #fff;
  border: 1px solid red;
}

.btn-delete:hover {
  background-color: #9E0000;
  border-color: #9E0000;
  color: #fff;
}

.btn-edit {
  background-color: #00796B;
  color: #fff;
}

.btn-edit:hover {
  background-color: #f5b301;
  color: black;
}

.btn-rate, .btn-submit {
  background-color: #00796B !important;
  color: #fff;
  border: 2px solid black;
}

.btn-rate:hover, .btn-submit:hover {
  background-color: #f5b301 !important;
  color: #fff;
  border: 2px solid black;
}

/* .................................... Carousel */
#myCarousel {
  height: 90vh; 
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-control-next, .carousel-control-prev {
  width: auto;
  background: none; 
  border-radius: 3px;
  border: none;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 3px;
}
.carousel-caption .h2 {
  color: #ffcc00;
  font-size: 6vw;
}

.carousel-caption p {
  color: #fff;
  font-size: 4vw;
}

.carousel-caption .btn {
  background-color: #00796B;
  color: #fff;
  font-size: 4vw;
}

.carousel-caption .btn:hover {
  color: black;
  background-color: #ffcc00;
  border-color: #ffcc00;
}

@media (min-width: 768px) {
  .carousel-caption .h2 {
      font-size: 4vw;
  }

  .carousel-caption p {
    font-size: 3vw;
  }

  .carousel-caption .btn {
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .carousel-caption .h2 {
      font-size: 3vw;
  }

  .carousel-caption p {
    font-size: 2vw;
  }

  .carousel-caption .btn {
    font-size: 2vw;
  }
}

@media (min-width: 1200px) {
  .carousel-caption .h2 {
      font-size: 2vw;
  }

  .carousel-caption p {
    font-size: 1vw;
  }

  .carousel-caption .btn {
    font-size: 1vw;
  }
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: black !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}


/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.btn-black {
  background: black;
  color: white;
}

.btn-outline-black {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
.container {
  max-width: 95%;
}
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: black;
}

.allauth-form-inner-content input {
  border-color: black;
  border-radius: 3px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: darkgray;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
  color: #fff;
  background-color: black;
  border-color: black;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 3px;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 3px;
}