{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block corecss %}
        <link href="carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block corejs %}
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/2608d92977.js" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Sportify</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl sticky-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30"
                        class="d-inline-block align-top" alt="">
                    Sportify
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
                    aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                  
                <div class="collapse navbar-collapse" id="navbarsExample06">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'products' %}">All Products</a>
                        </li>

                       
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Sportswear</h6>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=sportswear-tops">Tops</a>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=sportswear-bottoms">Bottoms</a>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=sportswear-suits">Suits</a>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=footwear">Footwear</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Equipment</h6>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=protective-gear">Protective Gear</a>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=game-equipment">Game Equipment</a>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=training-equipment">Training Equipment</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Special Offers</h6>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=sale">Sale</a>
                                <a class="dropdown-item" aria-current="page" href="{% url 'products' %}?category=new-arrivals">New Arrivals</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'contact_request' %}">Contact Us</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
                        <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search" />
                        <button class="btn btn-outline-dark" type="submit">
                            Search
                        </button>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                aria-expanded="false">Profile</a>
    
                            <div class="dropdown-menu">
                                {% if user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a class="dropdown-item nav-link" aria-current="page"
                                    href="{% url 'add_product' %}">Add Product</a>
                                {% endif %}
                                <a class="dropdown-item nav-link" aria-current="page"
                                    href="{% url 'account_logout' %}">Sign Out</a>
                                <a class="dropdown-item nav-link" aria-current="page"
                                    href="{% url 'profile' %}">My Account</a>
                                <a class="dropdown-item nav-link" aria-current="page"
                                    href="{% url 'wishlist' %}">Wishlist</a>    
                                {% else %}
                                <a class="dropdown-item nav-link" aria-current="page"
                                    href="{% url 'account_signup' %}">Sign Up</a>
                                <a class="nav-link text-dark" aria-current="page" href="{% url 'account_login' %}">Sign
                                    In</a>
    
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                        $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'toasts/toast_success.html' %}
                {% else %}
                    {% include 'toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block product_detail %}
    {% endblock %}

    {% block wishlist %}
    {% endblock %}

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                        <div class="col-md-4 col-lg-4">
                            <p class="copyright">
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                            </p>
                            <p class="mb-0 list-unstyled">
                                <a class="mr-md-3" href="#">Terms</a>
                                <a class="mr-md-3" href="#">Privacy</a>
                            </p>
                        </div>
                <div class="col-md-4 text-center mb-3 mb-md-0 logo">
                    <a class="navbar-brand" href="#">
                        <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30"
                            class="d-inline-block align-top" alt="">
                        Sportify
                    </a>
                </div>
                <div class="col-md-4 text-center text-md-end">
                    <p>Keep up to date with all our latest offers</p>
                    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>

</html>