{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap’s CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>Sportify</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">Sportify</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'products' %}">All Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Sportswear
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=sportswear-tops">Tops</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=sportswear-bottoms">Bottoms</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=sportswear-suits">Suits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=footwear">Footwear</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Equipment
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=protective-gear">Protective Gear</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=game-equipment">Game Equipment</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=training-equipment">Training Equipment</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Special Offers
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-darkactive"
                                    aria-current="page" href="{% url 'products' %}?category=sale">Sale</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="{% url 'products' %}?category=new-arrivals">New Arrivals</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="">Nutrition and Training Program</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            My Profile
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a class="dropdown-item nav-link text-dark"
                            aria-current="page" href="">Product Management</a>
                                {% endif %}
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="">Sign Out</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="">My Account</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="dropdown-item nav-link text-dark"
                                    aria-current="page" href="">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                    aria-current="page" href="">Sign In</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul> 
            </div>
        </div>
    </nav>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block product_detail %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <footer class="footer mt-auto py-3 border-top">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4 mb-3 mb-md-0 text-center text-md-start">
                    <div class="row mt-5">
                        <div class="col-md-6 col-lg-4">
                            <p class="copyright">
                                Copyright ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                            </p>
                            <p class="mb-0 list-unstyled">
                                <a class="mr-md-3" href="#">Terms</a>
                                <a class="mr-md-3" href="#">Privacy</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center mb-3 mb-md-0 logo">
                    <a href="/" class="d-inline-block"><img src="{% static 'images/logo-sm-l.png' %}" alt="Logo"></a>
                </div>
                <div class="col-md-4 text-center text-md-end">
                    <p>Keep up to date with all our latest offers</p>
                    <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap’s JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2608d92977.js" crossorigin="anonymous"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
</body>

</html>